$item-width: 300px
$slider-height: 300px
$item-pad: 20px

.section
  width: 100%
  display: block
  padding: 20px 0
  &.white
    color: $black
    background: white
  &.green
    color: $white
    background: $green
    .link
      color: lighten($blue-link,40%)
  &.cover
    padding: 0
    background-image: url(../images/cover.jpg)
    background-size: cover
    background-position: bottom
  .title
    width: 100%
    text-align: left
    font-size: $font-size-large
    padding: 0 0 20px 0
  .content
    @extend %centered
    .title
      font-size: $font-size-menu
      padding: 0 0 10px 0
  &.file-input-ex
    .list-container
      margin-left: 50px
      width: 400px