.section.white.pi(pid="select_input_section")
  h1.title Select input
  .content
    .pi.pi-select-field(pid="select_field", data-on-change="@this.placeholder.text(e.data.value)")
      input(type="hidden")
      .pi.placeholder(pid="placeholder") Не выбрано
      .pi.is-hidden.list-container.pi-select-list.pi-scroll-pane(pid="dropdown",data-plugins="scrollable",style="height: 200px")
        ul.list
          li.item(data-value="John")
            |John
          li.item(data-value="Vagon")
            |Vagon
          li.item(data-value="Jack")
            |Jack
          li.item(data-value="Sam")
            |Sam
          li.item(data-value="Elliot")
            |Elliot
          li.item(data-value="Julia")
            |Julia
          li.item(data-value="Edward")
            |Edward
          li.item(data-value="Simon")
            |Simon
