<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="keywords" content="js, coffescript">
    <link rel="stylesheet" href="/css/vendor.css" media="all">
    <link rel="stylesheet" href="/css/font-awesome.min.css" media="all">
    <link href="//fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet" media="all">
    <link href="//fonts.googleapis.com/css?family=Raleway:100&amp;text=Pisces.js" rel="stylesheet" media="all">
    <link rel="stylesheet" href="/css/pieces.css" media="all">
    <link rel="stylesheet" href="/css/app.css" media="all">
  </head>
</html>
<body>
  <div pid="main" class="main-wrap pi">
  </div>
  <footer>
    <div class="content">
      <div class="name"><span class="copy">&copy; 2014 Vlad Dem</span></div>
    </div>
  </footer>
  <script src="/js/vendor.js"></script>
  <script src="/js/pieces.js"></script>
  <script>require('pi');</script>
  <script src="/js/demo.js"></script>
  <script>pi.log_level = 'debug';pi.app.initialize();</script>
</body>