<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="keywords" content="js, coffescript">
    <link rel="stylesheet" href="css/vendor.css" media="all">
    <link rel="stylesheet" href="css/font-awesome.min.css" media="all">
    <link href="//fonts.googleapis.com/css?family=PT+Sans&amp;subset=latin,cyrillic" rel="stylesheet" media="all">
    <link rel="stylesheet" href="css/pieces.css" media="all">
    <link rel="stylesheet" href="css/app.css" media="all">
  </head>
</html>
<body>
  <header>
    <div class="header-top"><a href="/">
        <div class="logo inline"></div></a>
      <div class="description inline">
        <p class="name">PIECES</p>
        <p>javascript ?</p>
        <p>library ?</p>
        <p>framework ?</p>
      </div>
      <div class="social inline-right"><a href="http://github.com/palkan/pieces" target="_blank" class="social-link fa fa-github">  </a></div>
    </div>
    <div class="nav-content">
      <nav></nav>
    </div>
  </header>
  <div class="main">
  </div>
  <div pid="popup" data-show-delay="0" class="pi pi-popup is-hidden"></div>
  <script src="js/vendor.js"></script>
  <script src="js/pieces.js"></script>
  <script>require('pi');</script>
  <script src="js/demo.js"></script>
  <script>pi.log_level = 'info';pi.app.initialize();</script>
  <footer>
    <div class="content">
      <div class="name"><span class="copy">&copy; 2014 palkan</span></div>
    </div>
  </footer>
</body>