script(src='js/vendor.js')
script(src='js/pieces.core.js')
script(src='js/pieces.components.js')
script(src='js/pieces.rvc.js')
script(src='js/demo.js')
script
  | require('demo_app');
script
  |pi.log_level = 'debug';pi.app.initialize();

footer
  .content
    .name
      span.copy &copy; 2014 palkan
