script(src='js/vendor.js')
script(src='js/pieces.core.js')
script(src='js/pieces.js')
script(src='js/pieces.rest.js')
script(src='js/demo.js')
script
  |pi.log_level = 'debug';pi.app.initialize();

footer
  .content
    .name
      span.copy &copy; 2014 palkan
