.header-top
  a(href="/")
    .logo.inline
  .description.inline
    p.name PIECES
    p javascript ?
    p library ?
    p framework ?
  .social.inline-right
    a.social-link(href="http://github.com/palkan/pieces",class="fa fa-github", target="_blank")   
