extend ../partials/simple_layout

block title
  title Pieces JS Profile

block description
  meta(name="description", content="js framework or lib - as you wish")

block content
  include ../partials/pages/profile