.home
  .home-logo
    .home-logo-title Pisces.js

  .home-features
    .home-features-element
      .home-features-title
        |Components
      .home-features-preview.components
    .home-features-element
      .home-features-title
        |RVC
      .home-features-preview.rvc