.section.white.pi(pid="stepper_section")
  h1.title Stepper
  .content
    .pi.pi-stepper(data-step="10",data-min="-10",data-max="100",data-prefix="$",data-suffix="'.00'")
      input.text-input(type="text", value="20")
      span.step.step-up
      span.step.step-down