
<div pid="perf1" data-component="perf_1_view" class="section white pi">
  <h1 class="title">Create and dispose Nods</h1><a href="@app.page._contexts.perf1.start" class="inline pi-button-blue">Create</a><a href="@app.page._contexts.perf1.stop" class="inline pi-button-red">Dispose</a>
  <div pid="content" class="content pi"></div>
</div>
<script id="perf2_item_mst" type="x-tmpl-mustache">
  <li class="item">
    <div class="field name">{{name}}</div>
    <div pid="select_field" data-on-changed="@this.placeholder.text(e.data.value)" class="pi pi-select-field">
      <input type="hidden"/>
      <div pid="placeholder" class="pi placeholder">Не выбрано</div>
      <div pid="dropdown" data-plugins="scrollable" style="height: 200px" class="pi is-hidden list-container pi-select-list pi-scroll-pane">
        <ul class="list">{{#options}}
          <li data-value="{{.}}" class="item">{{.}}</li>{{/options}}}}
        </ul>
      </div>
    </div>
  </li>
</script>
<div pid="perf2" data-component="perf_2_view" class="section white pi">
  <h1 class="title">List with complex components (List of scrollable select inputs)</h1><a href="@app.page._contexts.perf2.start" class="inline pi-button-blue">Create</a><a href="@app.page._contexts.perf2.stop" class="inline pi-button-red">Dispose</a>
  <div class="content">
    <div pid="list" data-renderer="mustache(perf2_item_mst)" class="pi pi-action-list">
      <ul class="list"></ul>
    </div>
  </div>
</div>
<script id="perf3_mst" type="x-tmpl-mustache">
  <div>
    <div class="field name">{{name}}</div>
    <div pid="stepper" data-step="10" data-min="-10" data-max="100" data-prefix="$" data-suffix="'.00'" data-on-changed="@host.txt.value(e.data)" class="pi pi-stepper">
      <input type="text" value="{{size}}" class="text-input"/><span class="step step-up"></span><span class="step step-down"></span>
    </div>
  </div>
</script>
<div pid="perf3" data-component="perf_3_view" class="section white pi">
  <h1 class="title">Restful Base</h1><a href="@app.page._contexts.perf3.start" class="inline pi-button-blue">Create</a><a href="@app.page._contexts.perf3.stop" class="inline pi-button-red">Dispose</a>
  <div pid="content" data-plugins="restful" data-renderer="mustache(perf3_mst)" class="content pi"></div>
</div>