
<div pid="select_input_section" class="section white pi">
  <h1 class="title">Select input</h1>
  <div class="content">
    <div pid="select_field" data-on-change="@this.placeholder.text(e.data.value)" class="pi pi-select-field">
      <input type="hidden"/>
      <div pid="placeholder" class="pi placeholder">Не выбрано</div>
      <div pid="dropdown" class="pi is-hidden list-container pi-select-list">
        <ul class="list">
          <li data-value="John" class="item">
            <div class="field name">John</div>
          </li>
          <li data-value="Vagon" class="item">
            <div class="field name">Vagon</div>
          </li>
          <li data-value="Jack" class="item">
            <div class="field name">Jack</div>
          </li>
          <li data-value="Sam" class="item">
            <div class="field name">Sam</div>
          </li>
          <li data-value="Elliot" class="item">
            <div class="field name">Elliot</div>
          </li>
          <li data-value="Julia" class="item">
            <div class="field name">Julia</div>
          </li>
          <li data-value="Edward" class="item">
            <div class="field name">Edward</div>
          </li>
          <li data-value="Simon" class="item">
            <div class="field name">Simon</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>