.section.white.pi(pid="perf1",data-component="perf_1_view")
  h1.title Create and dispose Nods
  a.inline.pi-button-blue(href="@app.page._contexts.perf1.start") Create
  a.inline.pi-button-red(href="@app.page._contexts.perf1.stop") Dispose
  .content.pi(pid="content")