script(id="perf3_mst", type="x-tmpl-mustache")
  div
    .field.name {{name}}
    .pi.pi-stepper(pid="stepper", data-step="10",data-min="-10",data-max="100",data-prefix="$",data-suffix="'.00'", data-on-changed="@host.txt.value(e.data)")
      input.text-input(type="text", value="{{size}}")
      span.step.step-up
      span.step.step-down

.section.white.pi(pid="perf3",data-component="perf_3_view")
  h1.title Restful Base
  a.inline.pi-button-blue(href="@app.page._contexts.perf3.start") Create
  a.inline.pi-button-red(href="@app.page._contexts.perf3.stop") Dispose
  .content.pi(pid="content", data-plugins="restful", data-renderer="mustache(perf3_mst)")