
<div pid="search_input_section" class="section white pi">
  <h1 class="title">Search input</h1>
  <div class="content">
    <div data-on-query="@host.list.search(e.data)" class="pi pi-search-field"><i data-on-click="@host.reset" class="pi reset-btn fa fa-times"></i>
      <input type="text" class="text-input"/>
    </div>
    <div pid="list" data-plugins="searchable" data-highlight="true" class="pi inline list-container">
      <ul class="list">
        <li data-name="John" class="item">
          <div class="field name">John</div>
        </li>
        <li data-name="Vagon" class="item">
          <div class="field name">Vagon</div>
        </li>
        <li data-name="Jack" class="item">
          <div class="field name">Jack</div>
        </li>
        <li data-name="Sam" class="item">
          <div class="field name">Sam</div>
        </li>
        <li data-name="Elliot" class="item">
          <div class="field name">Elliot</div>
        </li>
        <li data-name="Julia" class="item">
          <div class="field name">Julia</div>
        </li>
        <li data-name="Edward" class="item">
          <div class="field name">Edward</div>
        </li>
        <li data-name="Simon" class="item">
          <div class="field name">Simon</div>
        </li>
      </ul>
    </div>
  </div>
</div>